---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Services">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Here are some things I can help you with:
      <ul class="list-disc list-inside">
        <li>Website builds and fixes</li>
        <li>Custom plugins</li>
        <li>Teaching about AI</li>
        <li>Analytics integrations</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about music and wellness.
      I play in a band called The Daydream District and run a photo booth company called Popstar Photo Booths.
    </p>
    <p class="text-sm font-light">
      If you're interested in chatting or need help on a project don't hesitate to reach out.
    </p>
  </div>
</Card>
